@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
}

:root {
  /* 색상 */
  --background: #ffffff; /* 기본 배경색 */
  --text-primary: #333333; /* 기본 텍스트 색상 */

  /* 폰트 */
  --font-family: 'Pretendard';
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-family);
}
